@import url('https://fonts.googleapis.com/css2?family=Comme&display=swap');

body {
    margin: 0;
    font-family: 'Comme', sans-serif;
    font-size: 20px;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 60px; /* define a largura da coluna esquerda */
}

.btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
    cursor: pointer;
    padding: 10
}

.Sobre {
    display: grid;
    grid-template-rows: 100px 5fr 100px;
    justify-content: center;
}

.logoWiki {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    width: 20em;
}

nav {
    background-image: url("./assets/Rainbow_Six_Siege_26-removebg-preview.png");
    background-size: 15em;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 2em;
    background-color:white;
    top: 100;
    left: 0;
    height: 3.5em;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    line-height: 4em;
}

nav ul li a:hover {
    color: white;
    background-color: #555;
}

main {
    margin-top: 60px;
    padding: 20px;
    color: white;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}